@if (todos().length > 0) {
  <table mat-table [dataSource]="orderedTodos()"
         class="todo-table"
         cdkDropList
         (cdkDropListDropped)="onChangeLocation($event)"
  >

    <!-- 拖曳欄位 -->
    <ng-container matColumnDef="drag">
      <th mat-header-cell *matHeaderCellDef width="50"></th>
      <td mat-cell *matCellDef="let row">
        <mat-icon cdkDragHandle style="cursor: move;">drag_indicator</mat-icon>
      </td>
    </ng-container>

    <!-- 項次 -->
    <ng-container matColumnDef="sort_no">
      <th mat-header-cell *matHeaderCellDef>項次</th>
      <td mat-cell *matCellDef="let todo; let i = index">{{ i + 1 }}</td>
    </ng-container>

    <!-- 功能按鈕 -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>功能</th>
      <td mat-cell *matCellDef="let todo">
        <button class="edit-btn" type="button" (click)="onEditClick(todo)">修改</button>
        <button class="delete-btn" type="button" (click)="onDeleteClick(todo.id)">刪除</button>
      </td>
    </ng-container>

    <!-- 標題欄位 -->
    <ng-container matColumnDef="todoTitle">
      <th mat-header-cell *matHeaderCellDef>標題</th>
      <td mat-cell *matCellDef="let todo">{{ todo.todoTitle }}</td>
    </ng-container>

    <!-- 內容欄位 -->
    <ng-container matColumnDef="todoContent">
      <th mat-header-cell *matHeaderCellDef>內容</th>
      <td mat-cell *matCellDef="let todo">{{ todo.todoContent }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" cdkDrag></tr>
  </table>
  @if (isShowButton) {
    <button class="save-btn" (click)="onSave()">儲存</button>
  }
} @else {
  <div class="empty-state">尚無待辦事項</div>
}
