<div class="login-container">
  <div class="login-card">
    <h2 class="login-title">會員登入</h2>
    <form #form="ngForm" class="login-form" (ngSubmit)="onSubmit(form)" )>
      <div class="form-group">
        <label for="username">帳號</label>
        <input type="text"
               id="username"
               name="username"
               placeholder="請輸入帳號"
               ngModel required  #username="ngModel"/>
      </div>
      <div class="form-group">
        <label for="password">密碼</label>
        <input type="password"
               id="password"
               name="password"
               placeholder="請輸入密碼"
               ngModel required #password="ngModel"/>
      </div>
      <div class="form-actions">
        <button type="button" class="btn-login" (click)="onSubmit(form)" )>登入</button>
      </div>
      <div class="form-footer">
        <span>還沒有帳號？</span>
        <a href="/register">立即註冊</a>
      </div>

      @if (username.touched && username.dirty && username.invalid){
        <p>
          請檢察帳號是否正確
        </p>
      }
      @if (password.touched && password.dirty && password.invalid){
        <p>
          請檢察密碼是否正確
        </p>
      }
    </form>
  </div>
</div>
